{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% include 'components/top_nav_bar.html' %}
<div class="row justify-content-center pt-3">
    <div class="col-md-12 col-lg-8">
        <h3>Отзывы</h3>
        <div id="feedback_list">
            {% if feedback_list %}
            {% for item in feedback_list %}
            {% include 'mainapp/includes/feedback_card.html' %}
            {% endfor %}
            {% else %}
            <p>
                No feedback yet. Be first!
            </p>
            {% endif %}
        </div>
{% if feedback_form %}
<div class="card" id="cardForm">
    <div class="card-body">
        <h5 class="card-title">Добавить отзыв</h5>
        <h6 class="card-subtitle mb-2 text-muted">Вы ещё не оставляли отзыв к этому
            курсу</h6>
        <p class="card-text">
            <form action="{% url 'mainapp:course_feedback' %}" method="POST" id="feedbackForm">
                {% csrf_token %}
                {{ feedback_form|crispy }}
            </form>
            <button id="feedbackSubmit" class="btn btn-primary btn-block">Отправить</button>
        </p>
    </div>
</div>
</div>
</div>
{% endif %}
{% include 'components/footer.html' %}
{% endblock content %}

{% block js %}
<script>
    $(document).ready(function () {
    {% if feedback_form %}
    $("#feedbackSubmit").click(function () {
    $("#cardForm").hide();
    var $form = $("#feedbackForm");
    $.ajax({
        type: "POST",
        url: $form.attr("action"),
        data: $form.serialize(),
        success: function (data) {
            $("#feedback_list").append(data.card);
        }
        });
    });
    {% endif %}
});
</script>
{% endblock js %}